.actor-container {
    width: 72px;
    height: 72px;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

.actor-ui {
    z-index: 500;
}

.actor-ui-hp {
    background-color: white;
    opacity: 0.7;
    text-align: center;
    display: block;
    margin: -10px auto;
    width: 15px;
    font-size: 10px;
}

.actor {
    width: 72px;
    height: 72px;
    z-index: 100;
}

.team0 {
    background-color: lightblue;
}

.team1 {
    background-color: darkorange;
}

.actor-enemy {
    transform: scaleX(-1);
}

.actor-dead {
    transform: scaleY(0.8);
    filter: saturate(15%);
}

.actor-knight {
    background-image: url(../img/actors-good.png);
    background-position: 0px -144px;
}

.actor-mage {
    background-image: url(../img/actors-good.png);
    background-position: 0px -360px;
}

.actor-archer {
    background-image: url(../img/actors-good.png);
    background-position: 0px -504px;
}

.actor-swordman {
    background-image: url(../img/actors-good.png);
    background-position: 0px -720px;
}

.actor-berserk {
    background-image: url(../img/actors-good.png);
    background-position: 0px -1008px;
}

.actor-rider {
    background-image: url(../img/actors-evil.png);
    background-position: 0px -72px;
}

.actor-sniper {
    background-image: url(../img/actors-evil.png);
    background-position: 0px -216px;
}

.actor-warlock {
    background-image: url(../img/actors-evil.png);
    background-position: 0px -1584px;
}

.actor-skeleton {
    background-image: url(../img/actors-evil.png);
    background-position: 0px -2592px;
}

.actor-werewolf {
    background-image: url(../img/actors-evil.png);
    background-position: 0px -2664px;
}